.App {
  display: flex;

}
.App > * {
  width: 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.users-list {
  list-style: none;
}
.user {
  padding: 0 150px 0 10px;
  position: relative;
  margin-bottom: 20px;
}
.invalid {
  border: 1px solid tomato;
}
.controls {
  position: absolute;
  top: 0;
  left: calc( 100% - 150px);
  width: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.controls > * {
  flex: 1;
  display: block;
  text-align: center;
  vertical-align: middle;
}
.user > * {
  margin-bottom: 5px;
}
.user__label {
  font-size: 13px;
  display: inline-block;
  margin-right: 5px;
  color: grey;
}
.App-intro {
  font-size: large;
}


.user-form {
  padding: 20px;
}
.user-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

}
.user-form label {
  margin-bottom: 5px;
  display: block;
}
.user-form input {
  height: 35px;
  line-height: 35px;
}
.user-form input,
.user-form label {
  width: 100%;
}
.body-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0, .7);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
